.banner-container2 {
  width: 100%;
  text-align: center;
}

.video-react {
  width: 97% !important;
  margin-left: 4px !important;
  padding: 0 !important;
}

.video-react-video {
  width: 100% !important;
}

iframe {
  width: 97%;
  height: 300px;
  margin-top: 1em;
}

@media only screen and (min-width: 768px) {
  .banner-container2 {
    display: block;
    margin: auto;
  }
  .video-react {
    width: 301px !important;
    height: 200px !important;
    margin-left: 0 !important;
  }

  iframe {
    height: 250px;
    width: 320px;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .video-react {
    width: 401px !important;
    height: 250px !important;
  }

  iframe {
    width: 350px;
  }
}
