.banner-container2 {
  width: 100%;
}

.video-react {
  width: 97% !important;
  margin-left: 4px;
}

.video-react-video {
  width: 100% !important;
}

@media only screen and (min-width: 768px) {
  .banner-container2 {
    display: block;
    margin: auto;
  }
  .video-react {
    width: 301px !important;
    height: 200px !important;
    margin-left: 0 !important;
  }
}

@media only screen and (min-width: 1024px) {
  .video-react {
    width: 401px !important;
    height: 250px !important;
  }
}
