.carousel-giant-container {
  background: #f7f7ff;
  font-family: "Roboto";
  padding-bottom: 3em;
}

.our-team-text {
  color: #2db4b4;
  font-weight: 600;
  font-size: 1.5em;
  padding-top: 1em;
  padding-left: 0.6em;
}

.our-team-blurb {
  color: black;
  padding-left: 1.3em;
  padding-top: 0.8em;
  padding-bottom: 2em;
  padding-right: 1.3em;
}

.carousel-component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.carousel-picture-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .our-team-text {
    font-size: 2.2em;
  }
  .our-team-blurb {
    font-size: 1.4em;
  }
  .carousel-picture-info-container {
    width: 80%;
  }

  .carousel-component-container {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  .our-team-blurb {
    font-size: 1.6em;
    padding-left: 1.8em;
  }
  .our-team-text {
    margin-left: 0.3em;
  }
  .carousel-picture-info-container {
    width: 60%;
  }
}
