.big-redirect-container {
  background: #121212;
  margin: 0;
  width: 100%;
  padding: 3em 0 3em 0;
}

.small-redirect-container {
  display: flex;
  flex-direction: column;
  padding-left: 0.75em;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: center;
  margin-left: 0.4em;
}

.green-wavely-seal {
  width: 15%;
}

.title-text {
  font-family: "Avenir-Black";
  font-size: 1.4em;
  font-weight: bold;
  color: #fff;
  margin-left: 0.8em;
  line-height: 1.1em;
  text-transform: uppercase;
}

.btn-container {
  text-align: center;
  padding-bottom: 1em;
}

.sign-up-now-btn {
  font-family: "Avenir-Heavy";
  font-weight: bold;
  width: 30%;
  color: #fff;
  font-size: 1em;
  line-height: 2em;
  outline: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  background: #00ddd0;
  border-radius: 16px;
  margin-top: 1em;
  text-transform: uppercase;
}

.below-btn-text1 {
  font-family: "Avenir-Book";
  font-size: 0.8em;
  color: #fff;
  text-align: center;
  margin-top: 2em;
}

@media only screen and (min-width: 768px) {
  .green-wavely-seal {
    width: 10%;
  }
  .title-container {
    display: flex;
    justify-content: center;
  }
  .title-text {
    font-size: 1.8em;
  }
  .sign-up-now-btn {
    width: 25%;
    font-size: 1.5em;
  }

  .small-redirect-container {
    margin-top: 1em;
  }
  .below-btn-text1,
  .below-btn-text2 {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .title-text {
    font-size: 2.2em;
  }
  .sign-up-now-btn {
    font-size: 1.8em;
  }
}
