.big-redirect-container {
  background: #121212;
  margin: 0;
  width: 100%;
  padding: 3em 1.2em 3em 1.2em;
  border-bottom: 1px solid #494848;
}

.small-redirect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: center;
  text-align: center;
}

.green-wavely-seal {
  width: 15%;
}

.title-text {
  font-family: "Avenir-Black";
  font-size: 1.8em;
  font-weight: bold;
  color: #fff;
  line-height: 1.1em;
  text-transform: uppercase;
}

.btn-container {
  text-align: center;
  padding-bottom: 1em;
}

.sign-up-now-btn {
  font-family: "Avenir-Heavy";
  font-weight: bold;
  width: 150px;
  color: #fff;
  font-size: 1em;
  line-height: 2em;
  outline: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  background: #00ddd0;
  border-radius: 16px;
  margin-top: 1.5em;
  text-transform: uppercase;
}

.sign-up-now-btn:hover {
  background: #fff;
  color: #00ddd0;
}

.below-btn-text1 {
  font-family: "Avenir-Book";
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  margin-top: 1.5em;
}

@media only screen and (min-width: 768px) {
  .green-wavely-seal {
    width: 10%;
  }
  .big-redirect-container {
    padding-left: 4em;
    padding-right: 4em;
  }
  .title-container {
    display: flex;
    justify-content: center;
  }
  .title-text {
    font-size: 2em;
  }
  .sign-up-now-btn {
    width: 255px;
    font-size: 1.8em;
    border-radius: 30px;
  }

  .small-redirect-container {
    margin-top: 1em;
  }
  .below-btn-text1 {
    font-size: 1.5em;
  }
}
