.big-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Avenir-Heavy";
  margin-bottom: 4em;
}

.profile-img-position {
  font-weight: 600;
}

.animation {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.profile-img {
  width: 120px;
  height: 120px;
}

.profile-img:hover {
  border-radius: 60px;
  border: solid 3px #2db4b4;
}

.profile-img-name {
  color: #2db4b4;
  font-weight: 600;
  font-size: 1.2em;
  width: 115%;
  text-align: center;
  margin-top: 0.5em;
}

.profile-img-position {
  font-style: italic;
  width: 100%;
  text-align: center;
  font-weight: lighter;
}

.profile-img-linkedin {
  background: #6c8ead;
  border-radius: 5px;
  width: 27px;
  margin-top: 0.3em;
  cursor: pointer;
}

@media only screen and (min-width: 445px) {
  .big-container {
    flex: 0 1 42%;
  }
}

@media only screen and (min-width: 640px) {
  .big-container {
    flex: 0 1 29.5%;
  }
  .profile-img-name {
    font-size: 1.4em;
  }
  .profile-img-position {
    font-size: 1.05em;
  }
  .profile-img-linkedin {
    width: 32px;
    margin-top: 0.5em;
  }
}

@media only screen and (min-width: 960px) {
  .big-container {
    flex: 0 1 22.5%;
  }
}
