.ethics-card-container {
  width: 100%;
  background: #f7f7ff;
  height: 100%;
  border: none;
}

.ethics-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ethics-card-text {
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
}

.img-big-container {
  text-align: center;
  width: 80px;
}

.img-container {
  position: relative;
  top: -1em;
}

@media only screen and (min-width: 768px) {
  .ethics-card-text {
    font-size: 1.5em;
  }
  .img-big-container {
    width: 95px;
  }
}
