.investors-big-container {
  background: #172a3a;
  font-family: "Roboto";
  margin-bottom: 0;
  padding-bottom: 2em;
  color: #f1edee;
  width: 100%;
}

.investors-title {
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 0.5em;
}

.below-investors-title-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: center;
}

.investors-line {
  border: 0.5px solid #f1edee;
}

.investors-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.img-container {
  width: 100%;
  margin-top: 2em;
}

.ggv-capital-img,
.goldman-sachs-img {
  width: 150px;
}

.ggv-capital-img {
  margin-bottom: 1em;
}

@media only screen and (min-width: 576px) {
  .investors-big-container {
    padding-top: 2em;
  }
}

@media only screen and (min-width: 768px) {
  .investors-big-container {
    padding-top: 4em;
  }
  .investors-title {
    font-size: 2.2em;
  }
  .ggv-capital-img,
  .goldman-sachs-img {
    width: 250px;
  }
}
@media only screen and (min-width: 1024px) {
  .investors-title {
    margin-left: 1em;
  }
  .below-investors-title-container {
    padding-left: 3em;
    padding-right: 3em;
  }
  .ggv-capital-img,
  .goldman-sachs-img {
    width: 300px;
  }
}
