.right-arrow-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.left-arrow-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.right {
  width: 1.5em;
  text-align: center;
  color: #2db4b4;
  cursor: pointer;
  margin-left: 0.1em;
}

.left {
  width: 1.5em;
  text-align: center;
  color: #2db4b4;
  cursor: pointer;
  margin-right: 0.1em;
}

.right:hover {
  opacity: 0.8;
}

.left:hover {
  opacity: 0.8;
}

@media only screen and (min-width: 768px) {
  .right {
    width: 30px;
  }
  .left {
    width: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  .right {
    width: 40px;
  }
  .left {
    width: 40px;
  }
}
