.mission-content-big-container {
  background: #1a1a1a;
  padding: 6em 1.2em 6em 1.2em;
  font-family: "Avenir-Black";
  display: flex;
  flex-direction: column;
}

.mission-title-text1 {
  color: #f7f7ff;
  font-weight: 600;
  font-size: 1.8em;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}

.mission-blurb {
  color: #f7f7ff;
  font-weight: 400;
  font-size: 0.9em;
  margin-bottom: 1em;
  margin-left: 0.3em;
  font-family: "Avenir-Book";
}

.mission-title-text2 {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mission-content-big-container {
    display: flex;
    flex-direction: row;
    padding: 6em 4em 6em 4em;
  }
  .mission-content-small-container {
    height: 100%;
    order: 2;
    padding-left: 3em;
    margin-top: 5em;
  }
  .mission-img-container {
    display: flex;
    flex-direction: column;
  }
  .mission-blurb {
    width: 100%;
    font-size: 0.7em;
    margin-left: 0;
  }
  .mission-title-text1 {
    display: none;
  }
  .mission-title-text2 {
    display: block;
    font-size: 1.5em;
    margin-bottom: 0.7em;
    color: #fff;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 800px) {
  .mission-blurb {
    font-size: 0.75em;
  }
}

@media only screen and (min-width: 830px) {
  .mission-title-text2 {
    font-size: 1.6em;
  }
  .mission-blurb {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 970px) {
  .mission-title-text2 {
    font-size: 1.8em;
  }
  .mission-blurb {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 1024px) {
  .mission-title-text2 {
    font-size: 2.2em;
  }
}

@media only screen and (min-width: 1093px) {
  .mission-blurb {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1162px) {
  .mission-blurb {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1296px) {
  .mission-title-text2 {
    font-size: 2.3em;
  }
  .mission-blurb {
    font-size: 1.2em;
  }
}
