.banner-container {
  text-align: center;
  width: 100%;
}

.banner-img {
  width: 85%;
  margin-top: 1.5em;
}

@media only screen and (min-width: 768px) {
  .banner-container {
    display: block;
    margin: auto;
  }
  .banner-img {
    margin-top: 3em;
  }
}
