.big-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid 1px red;
  -webkit-animation-duration: 10s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.profile-img {
  width: 130px;
  height: 130px;
}

.profile-img-name {
  color: #2db4b4;
  font-weight: 600;
  font-size: 1.2em;
  width: 115%;
  text-align: center;
}

.profile-img-position {
  font-style: italic;
  width: 138%;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .profile-img {
    width: 200px;
    height: 200px;
  }
  .profile-img-name {
    font-size: 1.8em;
  }
  .profile-img-position {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1024px) {
  .profile-img {
    width: 250px;
    height: 250px;
  }
}
