.big-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-img {
  width: 130px;
  height: 130px;
}

.profile-img-name {
  color: #2db4b4;
  font-weight: 600;
  font-size: 1.2em;
  width: 105%;
  text-align: center;
}

.profile-img-position {
  font-style: italic;
  width: 130%;
  text-align: center;
}

.scale-appear {
  filter: grayscale(100%);
  transition: all 1000ms ease-in-out;
}

.scale-appear.scale-appear-active {
  filter: grayscale(0);
}
.scale-enter {
  transform: scale(1);
}
.scale-leave.scale-leave-active {
  transform: scale(1.2);
  opacity: 0.01;
  transition: all 500ms ease-in-out;
}

.scale-enter.scale-enter-active {
  transform: scale(1);
  transition: all 500ms ease-in-out;
}

@media only screen and (min-width: 768px) {
  .profile-img {
    width: 200px;
    height: 200px;
  }
  .profile-img-name {
    font-size: 1.8em;
  }
  .profile-img-position {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1024px) {
  .profile-img {
    width: 250px;
    height: 250px;
  }
}
