.jumbotron-container {
  font-family: "Avenir-Black";
  /* background: #f7f7ff; */
  padding-bottom: 6em;
  padding-top: 8em;
  background-image: url("../images/transparent-ayca.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.all-text-container {
  margin: 0 0.8em 0 1.1em;
}

.jumbotron-title {
  line-height: 1.2;
  font-weight: 600;
  font-size: 2.2em;
  color: #2db4b4;
}

.jumbotron-blurb1 {
  font-weight: 400;
  font-size: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 0 0.5em 0 0.2em;
  font-family: "Avenir-Book";
}

.jumbotron-blurb2 {
  font-weight: 400;
  font-size: 1em;
  padding: 0 0.5em 0 0.2em;
  font-family: "Avenir-Book";
}

@media only screen and (min-width: 768px) {
  .about-word {
    font-size: 1.3em;
  }
  .jumbotron-title {
    font-size: 2.5em;
  }
  .jumbotron-blurb1,
  .jumbotron-blurb2 {
    font-size: 1.1em;
    margin-left: 0.3em;
    padding: 0;
    width: 85%;
  }
}
