.navBar-container-small {
  background: rgb(18, 18, 18);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-family: "Avenir-Black";
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.wavely-text {
  height: 14px;
  width: 90px;
  margin: 0.6em 0 0.5em 0.4em;
  cursor: pointer;
}

.navbar-links {
  position: absolute;
  top: 0.8em;
  right: 1.6em;
  display: flex;
  flex-direction: row;
}

.blog-home-text,
.about-home-text {
  font-size: 15px;
  font-family: "PingFangSC-Semibold";
  font-weight: 600;
  color: hsla(0, 0%, 100%, 0.5);
  padding-left: 1em;
}

.blog-home-text:hover,
.about-home-text:hover {
  color: #f7f7ff;
}

.blog-href:hover,
.about-href:hover {
  text-decoration: none;
}
