.ethics-container {
  background: #f7f7ff;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  width: 100%;
}

.internal-ethics-container {
  padding: 0 0 1.5em 0;
  margin: 0;
  width: 100%;
}

.ethics-title {
  color: #2db4b4;
  font-weight: 600;
  font-size: 1.5em;
  height: 100%;
  width: 100%;
  padding-left: 0.5em;
  padding-top: 1em;
}

.flex-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .ethics-title {
    font-size: 2.2em;
  }
}

@media only screen and (min-width: 1024px) {
  .flex-container {
    display: flex;
    flex-direction: row;
  }
}
