.footer {
  background: #121212;
  color: white;
  position: absolute;
  width: 100%;
  font-family: "Roboto";
  display: block;
  border-radius: 0;
  padding: 4em 0 3.5em 0;
}

.info-big-div {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.info-small-container {
  font-size: 12px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, arial, verdana, sans-serif;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
}

h4 {
  margin-bottom: 0.5em;
}

.h4-text {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 20px;
}

.address-info-container {
  width: 209px;
  margin-top: 3em;
  /* text-align: center; */
}
.mobile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 78%;
}

.la-address,
.san-mateo-address {
  line-height: 17px;
}

.la-address {
  margin-bottom: 1em;
}

.address-info {
  margin: 0;
  color: hsla(0, 0%, 100%, 0.5);
  font-weight: lighter;
  line-height: 25px;
}

.about-us-info,
.blog-link {
  color: hsla(0, 0%, 100%, 0.5);
  font-weight: lighter;
}

.about-us-info,
.product-intro {
  margin-bottom: 10px;
}

.blog-link,
.onboard-employer {
  margin-top: 5px;
}

.contact-info {
  color: hsla(0, 0%, 100%, 0.5);
  font-weight: lighter;
}

.social-media-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  order: 1;
  width: 80%;
  margin: 0 auto;
}

.social-media-img {
  margin: -12px 0 5px;
  border-radius: 100%;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.social-media-img:hover {
  background: #484848;
  transition-delay: 0.1s;
}

.terms-container {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, arial, verdana, sans-serif;
  font-size: 9.5px;
  padding-top: 3em;
  width: 100%;
}

.about-us-container,
.service-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.wavely-seal-img {
  width: 109px;
  height: 27px;
}

.footer-bottom-text {
  color: hsla(0, 0%, 100%, 0.5);
  font-weight: lighter;
}

.bottom-footer-container {
  margin-left: 9.435%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  font-size: 12px;
}

.footer-container2,
.footer-container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-container1 {
  width: 76.5%;
}

.footer-container2 {
  width: 88%;
  margin-top: 2em;
}

.privacy-use {
  margin-top: 0.1em;
  margin-left: 40px;
}

.about-us-info:hover,
.blog-link:hover,
.h4-text:hover,
.contact-info:hover,
.footer-bottom-text:hover {
  color: white;
  text-decoration: none;
}

.company-contact-address-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  order: 2;
  padding: 3em 2.5em 3em 16%;
}

.twitter-logo {
  width: 36px;
  height: 36px;
  margin-right: 2px;
  position: relative;
  bottom: -5px;
}

.service-terms1 {
  display: none;
}

.service-terms2 {
  display: block;
}

@media only screen and (min-width: 350px) {
  .footer-container2 {
    width: 87%;
  }
}

@media only screen and (min-width: 375px) {
  .footer-container2 {
    width: 86%;
  }
}

@media only screen and (min-width: 414px) {
  .footer-container2 {
    width: 85%;
  }
}

@media only screen and (min-width: 460px) {
  .footer-container2 {
    width: 84%;
  }
}

@media only screen and (min-width: 500px) {
  .footer-container2 {
    width: 83%;
  }
}

@media only screen and (min-width: 580px) {
  .footer-container2 {
    width: 50%;
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
  }
  .privacy-use {
    margin-left: 0;
  }
  .service-terms1 {
    display: block;
    margin-top: 0.1em;
  }
  .service-terms2 {
    display: none;
  }
  .bottom-footer-container {
    flex-direction: row;
    padding-right: 4em;
  }
  .footer-container1 {
    width: 450px;
  }
  .footer {
    padding-bottom: 2em;
  }
}

@media only screen and (min-width: 768px) {
  .privacy-use {
    margin-left: 40px;
  }
  .service-terms1 {
    display: block;
    margin-top: 0.1em;
  }
  .service-terms2 {
    display: none;
  }
  .info-big-div {
    padding: 0 3.5em 0 3.5em;
  }
  .footer {
    padding-top: 3em;
  }
  .footer-container2 {
    width: 100%;
  }
  .footer-container1 {
    width: 100%;
  }

  .info-small-container {
    display: flex;
    flex-direction: row;
    font-size: 11px;
  }
  .social-media-logos {
    order: 2;
    width: 184px;
  }

  .social-media-img {
    width: 44px;
    height: 44px;
  }

  .twitter-logo {
    width: 35px;
    height: 35px;
    margin-bottom: 12px;
    margin-right: 5px;
  }

  .terms-container {
    font-size: 10px;
    width: 100%;
    padding: 3em 8% 0 3.5em;
  }

  .bottom-footer-container {
    margin-left: 7%;
    height: 100%;
    padding-right: 0;
  }
  .privacy-use {
    margin-left: 0;
  }
  .mobile-container {
    display: flex;
    justify-content: space-between;
    width: 41%;
    margin-left: 7%;
    padding-right: 3%;
  }
  .contact-us-container {
    margin-top: 0;
  }
  .address-info-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 0;
    text-align: left;
  }
  .address-info {
    line-height: 17px;
    margin-bottom: 14px;
  }
  .h4-text {
    font-size: 1.5em;
  }
  .company-contact-address-container {
    order: 1;
    display: flex;
    flex-direction: row;
    padding: 0 0 2.5em 0;
    width: 100%;
    margin-right: 1em;
    margin-left: 0;
    align-items: flex-start;
    justify-content: space-between;
  }
  .email-contact {
    margin-top: 0.1em;
  }
}

@media only screen and (min-width: 920px) {
  .mobile-container {
    width: 40%;
  }
}

@media only screen and (min-width: 980px) {
  .mobile-container {
    width: 39%;
  }
}

@media only screen and (min-width: 1024px) {
  .terms-container {
    padding-right: 10%;
  }
  .info-big-div {
    padding-right: 5.5em;
  }
  .mobile-container {
    width: 38%;
  }
}

@media only screen and (min-width: 1200px) {
  .mobile-container {
    padding-right: 5%;
  }
}
